html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

hr {
  border: 1px solid #ddd;
}

small {
  color: #aaa;
}

.container-fluid {
  padding: 0;
}

.clearfix {
  clear: both;
}

/* sections */

.page {
  min-width: 100%;
}

.main-content {
  top: 100%;
  position: absolute;
}

.cover {
  top: 0%;
  background: #303e49;
  color: white;
  position: absolute;
}

.evaluation {
  background-color: rgb(240, 241, 132);
  color: rgba(22,22,22,0.9);
}

.work {
  background: url(../img/noisy.png);
}

.open-source {
  background-color: #3BAFDA;
  color: rgba(255,255,255,0.9);
}

#links {
  padding-top: 100px;
}


/* cover page */

.languages {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
}

.hero {
  margin-top: 15%;
  margin-left: 20%;
}

.circular {
  width: 96px;
  height: 96px;
  border-radius: 48px;
  background: url(../img/avastar.png) no-repeat;
  float: left;
}

.intro {
  float: left;
  margin-left: 20px;
}

.intro h3 {
  font-weight: bold;
  margin: 0.3em 0;
  text-align: right;
}

.intro h5 {
  margin: 1em 0;
  text-align: right;
}

.email {
  vertical-align: 0!important;
  font-size: 1.2em;
}

.intro-details {
  border-left: 3px solid #ddd;
  padding-left: 30px;
  padding-top: 0.6em;
  float: left; 
  width: 600px; 
  margin-left: 30px;
}

.intro-details > p {
  margin-top: 0;
  margin-bottom: 20px;
}

.scroll-down {
  height: 108px;
  width: 36px;
  background: url(../img/ic_expand_more_white.png) repeat-y;
  position: absolute;
  bottom: 15%;
  right: 10%;
}



/* introduction */

.evaluation > .pure-g {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.basic-info {
  width: 100%;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left
}

.bi-title {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

.bi-value {

}


.skill {
  height: 40px;
  margin-bottom: 20px;
}

.skill > div {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}

.skill > * {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.skill > svg {
  height: 20px;
}

.skill > svg > path:first-child {
  stroke: #FEFFD5;
  stroke-width: 20;
}

.skill > svg > path:nth-child(2) {
  stroke: #31777A;
  stroke-width: 20;
}


/* work page */

.projects h1 {
  text-align: center;
}

.projects h4 {
  margin: 0.7em 0;
}

.work-bio {
  margin-left: 50px;
  margin-top: 20px;
}

.projects {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
}

.project {
  margin-left: 50px;
  margin-top: 40px;
}

.project > p {
  font-size: 85%;
}


/* open-source page */

.os-header, .eval-header {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  padding-top: 80px;
}

.os-projects {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.os-projects a {
  color: white;
}

.os-projects > div {
  text-align: center;
}

.os-projects > div > p {
  padding: 0 2em;
}

.os-projects img {
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: 120px;
  border: 0;
  background-color: white;
}

.os-projects h3 {
  font-weight: bold;
}

/* findme page */

h1 {
  font-size: 1.5em;
}

.findme {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  opacity: 0;
}

.links {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.links > svg {
  cursor: pointer;
  height: 60px;
  width: 180px;
}

.links > svg path {
  stroke: #2780e3;
  stroke-width: 2px;
  fill: none;
}

.links > svg path:hover {
  stroke: red;
  stroke-width: 2px;
  fill: none;
}

.links > svg text {
  opacity: 0;
  font-size: 24px;
  text-anchor: middle;
  fill: #2780e3;
}

.latest-update {
  position: absolute;
  bottom: 100px;
  right: 10%;
}