.nav-left {
	float: left;
	width: 10%;
	position: fixed;
}
	#navbar {
		width: 200px;
		padding-left: 0px;
		list-style-type: none;
		margin-top: 80px;
	}
		#navbar li{
			margin-bottom: 50px;
		}
		#navbar li.active > a{
			color: #444;
			background-color: #ff9;
		}

			a.nav-title {
				height: 40px;
				line-height: 40px;
				display:block;
				padding-left: 50px;
				font-weight: bold;
				transition:background 0.2s;
				border-bottom: 1px solid rgba(0,0,0,0.1)
			}
			a.nav-title:hover {
				color: #444;
				text-decoration: none;
				background-color: #ff9;
				border-bottom: 1px solid rgba(255,0,0,0.8)
			}

			#navbar li ul li{
				margin-bottom: 10px;
			}
				#navbar li ul li a{
					padding-left: 50px;
					display: block;
					width: 100%;
					color: rgba(0,0,0,0.5);
					transition:background 0.2s;
					border-bottom: 0px solid rgba(0,0,0,0.1)
				}
				#navbar li ul li a:hover{
					color: rgba(0,0,0,0.8);
					background-color: #ff9;
				}


.main {
	width: 100%;
}