body {
	background-image: url(../img/noisy.png)
}

.nav-left {
	float: left;
	width: 10%;
	position: fixed;
}
	#navbar {
		width: 200px;
		padding-left: 0px;
		list-style-type: none;
		margin-top: 80px;
	}
	#navbar li{
		margin-bottom: 50px;
	}

		.active .nav-title{
			color: #444;
			background-color: #ff9;
			border-left: 3px solid rgba(255,0,0,0.8);
		}

		.nav-title {
			height: 40px;
			line-height: 40px;
			display:block;
			padding-left: 50px;
			font-weight: bold;
			transition:background 0.2s;
			border-left: 3px solid rgba(0,0,0,0.1);
		}
		.nav-title:hover {
			color: #444;
			text-decoration: none;
			background-color: #ff9;
			border-left: 3px solid rgba(255,0,0,0.8);
		}

			#navbar li ul li{
				margin-bottom: 10px;
			}

				.sub-nav li a{
					padding-left: 50px;
					display: block;
					width: 100%;
					color: rgba(0,0,0,0.5);
					transition:background 0.2s;
				}
				.sub-nav li a:hover{
					color: rgba(0,0,0,0.8);
					background-color: #ff9;
					border-left: 3px solid #77A600;
				}

				.sub-nav .active{
					color: rgba(0,0,0,0.8);
					background-color: #ff9;
					border-left: 3px solid #77A600;
				}


.main {
	width: 100%;
}

	.header {
		height: 40px;
		border-left: 3px solid rgba(255,0,0,0.8);
		line-height: 40px;
		padding-left: 30px;
		font-weight: bold;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.module {
		margin-top: 80px;
	}

	.module p {
		margin-left: 30px;
	}

	.tags {
		margin-left: 30px;
		line-height: 16px;
	}

	.tags img {
		height: 16px;
		width: 16px;
		margin-right: 5px;
	}